<div class="container publication-container">
    <h3>{{ site.publications_title | default: "Publications" }}</h3>
    {% for publication in site.data.publications %}
    <div class="row clearfix publication">
        <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 left-column">
            <h4>{{ publication.name }}</h4>
            {%- if publication.link -%}
            {% include a.html href=publication.link class="publication-link" %}{{ project.link }}</a>
            {%- endif -%}
            <p class="no-print">
                <a href="https://github.com/{{ project.github }}" target="_blank">
                    <i class="fa fa-github" title="{{ publication.name }} Github link"></i>
                </a>
            </p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
            {%- if publication.quote -%}
            <p class="quote">{{ publication.quote }}</p>
            {%- endif -%}
            {{ publication.description | strip | markdownify }}
        </div>
    </div>
    {% endfor %}
</div>