<div class="container recognitions-container">
    <h3>{{ site.recognition_title | default: "Recognition" }}</h3>
    {% for recog in site.data.recognition %}
    <div class="row clearfix education">
        <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 left-column">
            <h4>{{ recog.name }}</h4>
            <p><b>{{ recog.qualification }}</b></p>
            <p>{{ recog.dates }}</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
            {%- if recog.quote -%}
            <p class="quote">{{ recog.quote }}</p>
            {%- endif -%}
            {{ recog.description | strip | markdownify }}
        </div>
    </div>
    {% endfor %}
</div>